@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Montserrat:ital@1&family=Roboto&display=swap');

* {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: tomato;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 30px;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: -11px;
}

/* @media (min-width:300px) and (max-width: 400px) {
    .links {
        flex-direction: column !important;
        margin-top: 117px !important;
        height: 90px !important;
        border: none !important;
        align-items: unset !important;
    }
} */

@media (min-width:200px) and (max-width: 600px) {
    .links {
        flex-direction: column !important;
    }

    #divider {
        display: none;
    }

}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-right: 38px;
    font-size: 18px;

}

nav a:hover {
    color: black;
    transition: 0.3s ease-in;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    /* height: 115px; */
    background-color: white;
}

.introduction h1 {
    font-size: 30px;
    color: tomato;
    align-self: center;
}

.introduction h1:hover {
    transform: rotate(180deg);
}

.introduction h2 {
    font-size: 25px;
    font-family: montserrat;
    align-self: center;
}

.introduction h2>span {
    font-family: 'Hind Siliguri';
}

.links {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: white;
    color: black;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#links img:hover {
    opacity: .7;
    transition: .2s ease-in .01s;
}

.socialLinks {
    margin-left: 17px;

}

.socialLinks a {
    text-decoration: none;
    color: white;

}

.socialLinks img {
    width: 10%;
    align-self: center;
    margin-right: 11px;
}

#divider {
    height: inherit;
    width: 2%;
    border-right: 1px solid black;
    margin-left: -67px;
    margin-right: 65px;
}

.moreLinks img {
    width: 10%;
    align-self: center;
    margin-right: 11px;
}

.moreLinks {
    margin-top: 1px;

}

#contactMe {
    background: linear-gradient(83.84deg, #0088FF -6.87%, #A033FF 26.54%, #f96760 58.58%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Hind Siliguri';
    margin-top: 100%;
}

footer a {
    border: 1px dashed white;
    padding: 2px;
    text-decoration: none;
    color: white;

}